<header class="header-wrapper">
  <div class="header">
    <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <div class="menu">
      <ul class="menu-left">
        {{ range .Site.Menus.left }}
        <li class="menu-item">
          {{ if not .Children }} {{ if eq .URL "" }} {{ .Name }} {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }} {{ else }}
          <a>{{ .Name }}↓</a>
          <ul class="sub-menu">
            {{ range .Children }}
            <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      <div class="menu-right">
        {{ range .Site.Menus.right }}
        <li class="menu-item">
          {{ if not .Children }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ else }}
          <a>{{ .Name }}↓</a>
          <ul class="sub-menu">
            {{ range .Children }}
            <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </div>
    </div>
  </div>
</header>
